---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero--overlay { position: relative; margin-bottom: 0em; padding: 3em 0; clear: both; background-size: cover; background-repeat: no-repeat; background-position: left top; -webkit-animation: intro 0.3s both; animation: intro 0.3s both; -webkit-animation-delay: 0.25s; animation-delay: 0.25s; }
.page__hero--overlay .wrapper { 
    padding: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.page__footer { 
    margin-top: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.page__footer-follow { 
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.page__footer-copyright {
    text-align: center;
}

