<body>
    <div id="content">
        <h1>Mikey Lipschultz</h1>
        <div class="horizontal-buttons">
            <button>
                Software
            </button>
            <button>
                Music
            </button>
        </div>
        <h3>Upcoming Events</h3>
        <ul>
            <li>
                <p>
                    December 19th, 2024 - The Lipschultz Trio at Vintage Beano and Vino Lounge 7-10pm
                </p>
            </li>
        </ul>
    </div>
</body>